snippet 404 "JS 404 code" i
<script>
window.location.href = "/404.html";
</script>
endsnippet

snippet ref "参考文献 HTML 代码" i
<b id="refrences">refrences</b>  
endsnippet

snippet read "拓展阅读 HTML 代码" i
<b id="readmore">readmore</b>  
endsnippet
