@define-color foreground #ccdfea;
@define-color background #1e1f25;
@define-color cursor #ccdfea;

@define-color color0 #1e1f25;
@define-color color1 #4A7398;
@define-color color2 #619CC4;
@define-color color3 #A09CA3;
@define-color color4 #E1AB98;
@define-color color5 #F5D3A3;
@define-color color6 #9FB7D1;
@define-color color7 #ccdfea;
@define-color color8 #8e9ca3;
@define-color color9 #4A7398;
@define-color color10 #619CC4;
@define-color color11 #A09CA3;
@define-color color12 #E1AB98;
@define-color color13 #F5D3A3;
@define-color color14 #9FB7D1;
@define-color color15 #ccdfea;
